{% extends 'base.html' %}
{% block content %}
<style>
    .placeholderContainer{
        width: 300px;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .placeholderImg{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid black;
       
    }
    .placeholderImg img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .edit{
        width: 70px;
        height: 30px;
        background-color: lightskyblue;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }

</style>

<div class = 'container' style = 'margin-top: 20px' >
    <div class = 'row justify-content-center'>
        <div class = 'col-lg-4'>
            <div class='placeholderContainer'>
                <a href = " {% url 'profile-update' %}" style = 'text-decoration: none'>
                <div class = 'edit info'>
                    Edit
                   <i class="fas fa-user-edit"></i>  
                </div>
            </a>
                <div class = 'placeholderImg'>
                    <img src=' {{account.pictureUrl}} '>
                </div>
                <h2 style = 'margin-top: 20px; font-weight: 500'><strong>{{account.name}}</strong></h2>
                <h4 style =  'text-align:center'> {{account.profession}} </h4>
                <div class ='socials'></div>
                <!-- <p>100 Followers</p> -->
            </div>
        </div>

        <div class = 'col-lg-8'>
            <h3><strong>About me</strong></h3>
            <p class ='bio'>
                {{account.bio}}
            </p><br><br>
            
                <h3><strong>My Articles</strong></h3>
                
            
           
            <div class = 'row'>
                {% for post in account.post_set.all %}
                <div class = 'col-12 col-sm-12 col-md-4 col-lg-4'>
                    

                    <div class="card" style="">
                        <img src="{{post.imageUrl}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><strong>{{post.title}}</strong></h5>
                          <p class="card-text">{{post.body|safe|truncatechars:'100'}}</p>
                          <a href="{% url 'edit' post.slug %}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                          <a href="{% url 'delete' post.slug %}" class="btn btn-primary"><i class="fas fa-trash"></i></a>
                         
                        </div>
                      </div>

                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}