{% extends 'base.html' %}

{% block content %}
<style>

    
    #cke_id_body{
        width: 100% !important;
      }
    #container{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    #container h3{
        text-align: center;
    }
   
</style>

<br><br>
<div class = 'container' id = 'container'>

<h3><strong>Delete Article</strong></h3>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.media}}
       {{form.as_p}}
      <!-- <br> -->
      
      
      <!-- <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div> -->

      <input type = 'submit' class = 'btn btn-danger' style = 'width: 100%' value = 'Delete'>

    </form>

</div>



<script>

    let inputs = document.getElementsByTagName('input')
    let textarea = document.getElementById('id_body')
    let selectTag = document.getElementById('id_tag')
    for(let i = 0; i < inputs.length; i++){
        inputs[i].classList.add('form-control')
    }
    textarea.classList.add('form-control')
    textarea.setAttribute('rows', 7)
    
    selectTag.classList.add('form-select')
</script>

{% endblock %}